$image_baseURL: "https://image.tmdb.org/t/p/original";
@use "index.scss" as size;

.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  width: 100%;

  .banner__contents {
    margin-left: size.$xl;
    padding-top: 136px;
    height: 184px;

    .banner__title {
      color: #fe6152;
      font-weight: 800;
    }

    .banner__description {
      width: 340px;
      padding-top: size.$md;
      max-width: 680px;
      height: 80px;
    }

    .banner__button {
      cursor: pointer;
      color: #fff;
      outline: none;
      border: none;
      font-weight: 700;
      border-radius: 0.2vw;
      padding-left: size.$xl;
      padding-right: size.$xl;
      margin-right: size.$md;
      margin-left: size.$md;
      padding-top: size.$sm;
      padding-bottom: size.$sm;
      background-color: rgba(51, 51, 51, 0.5);

      &:hover {
        color: #000;
        background-color: #e6e6e6;
        transition: all 0.2s;
      }
    }
  }
  .banner--fadeBottom {
    height: 8rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }

  .banner__divider > hr {
    opacity: 33%;
  }
}
