@use "index.scss" as size;

.footer {
  z-index: 1;
  border-top: 2px solid rgba(white, 0.33);
  width: 100%;
  display: flex;
  flex-direction: column;
  // margin-top: size.$xxxl;
  padding: size.$lg;
  height: 64px;
  background-color: #0a090c;
  object-fit: contain;

  .footer__copyright {
    color: #fca311;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
