@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$foreground: "#FE0039";
$background: "#0A1627";
$icon: "#fca311";

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 48px;
$xxxl: 64px;
$xxxxl: 80px;

:export {
  $foreground: $foreground;
  $icon: $icon;
  $background: $background;
  $xs: $xs;
  $sm: $sm;
  $md: $md;
  $lg: $lg;
  $xl: $xl;
  $xxl: $xxl;
}
