@use "index.scss" as root;

.menu {
  position: relative;
  right: 48px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu__avatar {
    cursor: pointer;
    background-color: red;
  }

  #menu__open {
    background-color: pink !important;
    position: static;
  }
}
