.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 40px;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.2s;
  // background-color: #111;

  .nav__logo {
    left: 20px;
    position: fixed;
    width: 150px;
    object-fit: contain;
    cursor: pointer;
  }

  .nav__avatar {
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 40px;
    object-fit: contain;
  }
}

.nav__black {
  background-color: black;
}
