.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  height: 40px;
  transition-timing-function: ease-in;
  transition: all 0.4s;
  // background-color: #111;

  .nav__logo {
    display: flex;
    left: 24px;
    position: fixed;
    object-fit: contain;
    cursor: pointer;
    align-items: center;
  }

}

.nav__black {
  background-color: #0a090c;
}
