.row {
  color: #ffffff;
  margin-left: 16px;
  padding: 4px;
  display: block;

  .row__title {
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
  }

  .row__titleLarge {
    margin-top: 20px;
  }

  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    cursor: pointer;

    &::-webkit-scrollbar {
      display: none;
    }

    .row__poster {
      object-fit: contain;
      width: 100%;
      max-height: 144px;
      margin-right: 16px;
      transition: transform 400ms, border 400ms;
      border: 2px solid #fe605200;

      &:hover {
        border: 2px solid #fe6152;
        transform: scale(1.04);
        opacity: 1;
        padding: 0px;
      }
    }
    .row__posterLarge {
      object-fit: contain;
      max-height: 248px;

      &:hover {
        transform: scale(1.04);
        opacity: 1;
      }
    }
  }
}
